<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EverGreen Control Panel</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("EverGreen Control Panel", "Dashboard", "Main", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Dashboard", "Dashboard", "Main")</li>
                    @*<li>@Html.ActionLink("MenuSetUp", "Index", "MenuSetupMaster")</li>*@
                    <li>@Html.ActionLink("Locality", "Index", "LocalityMaster")</li>
                    <li>@Html.ActionLink("Store", "Index", "StoreMaster")</li>
                    <li>@Html.ActionLink("Menu", "Index", "MenuMaster")</li>
                    <li>@Html.ActionLink("Product", "Index", "ProductMaster")</li>          
                    <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="col-md-12">

            @{var LoginID = Session["LoginID"] != null ? Convert.ToInt32(Session["LoginID"]) : 0;}
            @{ var username = Session["Username"] != null ? Convert.ToString(Session["Username"]) : ""; }
            @if (LoginID > 0 && username != "")
            {

                @*@if (HttpContext.Current.Session["LoginID"].ToString() != null && HttpContext.Current.Session["Username"].ToString() != null)
                    {*@
                <div class="alert alert-dismissible alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    @*<img src="~/fonts/dropbox2.jpg" class="pull-right" height="50" width="50" />*@
                    <h4>Welcome to @ViewBag.Username !</h4>
                    <p>@ViewBag.LoginID  </p>
                </div>
            }
            @RenderBody() <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Microsys India Pvt. Ltd</p>
            </footer>
        </div>

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
