@model DropBoxApplication.Models.MenuMasterModel
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_MainLayout.cshtml";
    }

    @using (Html.BeginForm("AddNewMenu", "MenuMaster", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
    {<div class="panel panel-default">
            <div class="panel-heading">Menu Master</div>
            <div class="panel-body">
                <div class="col-sm-12 ">
                    <div class="row">
                        <div class="col-lg-3">
                            @Html.TextBoxFor(model => model.MenuName, new { id = "MenuName", @class = "form-group form-control", placeholder = "Menu Name" })
                            @Html.ValidationMessageFor(model => model.MenuName)
                        </div>
                        <div class="col-lg-3">
                            @Html.TextBoxFor(model => model.MenuPrice, new { id = "MenuPrice", @class = "form-group form-control", placeholder = "Menu Price" })
                            @Html.ValidationMessageFor(model => model.MenuPrice)
                        </div>
                        <div class="col-lg-4">
                            <div class="btn btn-default image-preview-input">
                                <input type="file" id="file" name="file" />
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <input type="submit" value="Submit" class="btn btn-default" />
                        </div>
                        <div class="col-lg-1">
                            <input type="reset" value="Reset" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }




